.contact__container {
    text-align: center;
}

.contact__icons {
    width: 100%;
    display: flex;
    gap: 200px;
    justify-content: center;
}
div.contact__icons div.simple-card {
    width: auto;
}
.contact__icons .simple-card p {
    margin-top: 20px;
}

@media (max-width: 800px) {
    .contact__icons {
        flex-direction: column;
        width: 50%;
        margin: 0 auto;
        gap: 50px;
    }
}

@media (max-width: 500px) {
    .contact__icons {
        width: 70%;
    }
}