.header {
     background-color: var(--box);
     width: 100%;
     height: 70px;
     display: flex;
     justify-content: space-between;
}
.header__nav, .header__main-icon {
    align-self: center;
    margin: 0 60px;
}
.header__main-icon {
    color: var(--neon);
    font-size: 2rem;
    font-family: "Decalled Script";
}
header .header__nav-link {
    color: var(--text);
    text-decoration: none;
    font-size: 1.1rem;
    margin: 30px;
}

.header__main-logo {
    width: 4%;
    margin-left: 80px;
    height: inherit;
    display: flex;
    align-items: center;
}
.header__main-logo img{
    width: 60px;
    height: 60px;
}

@media (max-width: 800px) {
    .header__main-logo {
        margin-left: 20px;
    }
    .header__nav {
        margin: 0;
    }
    header .header__nav-link {
        margin: 15px;    
    }
}