.light-text-container {
    width: 40%;
    height: auto;
    background-color: var(--accent);
    margin: 0 auto;
    text-align: left;
    padding: 10px 30px;
    border-top: 1px solid var(--neon);
    border-bottom: 1px solid var(--neon);
    border-bottom-width: 4px;
}
.light-text-container h2, .light-text-container h3, .light-text-container p{
    margin: 30px 0;
    position: relative;
    z-index: 10;
}
.light-text-container h3 {
    font-size: 1.25rem;
}

/*Border Animation */
:root {
    --particle-height: 5px;
    --max-space: calc(100% - var(--particle-height) / 2);
    --min-space: calc(0% - var(--particle-height) / 2);
    --animation-duration: 30s;
}
.animated-border {
    position: relative;
}
.animated-border i {
    position: absolute;
    inset: 0;
    display: block;
    z-index: 1;
}
.animated-border i::before/*, .animated-border i::after*/ {
    content: '';
    position: absolute;
    border-radius: 100%;
    width: 5px;
    height: var(--particle-height);
    background: transparent;
}
.animated-border i::before {
    top: -3.5px;
    left: calc(100% - 5px);
    animation: flow var(--animation-duration) infinite;
    animation-timing-function: linear;
}
/*.animated-border i::after {
    bottom: -3.5px;
    left: calc(0% - 5px);
    animation: flow_reverse var(--animation-duration) infinite;
    animation-timing-function: linear;
}*/

@keyframes flow {
    0% { 
        left: var(--max-space); 
    }
    8.25% { 
        left: var(--min-space);
        top: -3.5px; 
    }
    16.25% {
        left: var(--min-space); 
        top: var(--max-space);
    }
    24.75% {
        left: var(--max-space);
        top: var(--max-space);
    }
    0%, 33% {
        left: var(--max-space);
        top: -3.5px;
        box-shadow: 0px 0px 5px 5px var(--neon);
        background: #fff;
    }
    35%, 100% {
        background: transparent;
        box-shadow: none;
    }
}
/*@keyframes flow_reverse {
    0% { 
        left: var(--min-space); 
    }
    /*12% {
        box-shadow: 0px 0px 10px 10px var(--neon);
        background: #fff;
    }
    14% {
        background: transparent;
        box-shadow: none;
    }*//*
    25% { 
        left: var(--max-space);
        bottom: -3.5px;
    }
    50% {
        left: var(--max-space); 
        bottom: var(--max-space);
    }
    75% {
        left: var(--min-space);
        bottom: var(--max-space);
    }
}*/