.projects {
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    min-height: 68vh;
}
.project-section__cards-container {
    display: flex;
    text-align: left;
    justify-content: center;
}

@media (max-width: 750px) {
    .project-section__cards-container {
        flex-flow: column;
    }
    .project-card {
        margin: 40px auto;
    }
}