.store-api__container {
    display: grid;
    grid-template-columns: 220px calc(100% - 220px);
    grid-template-rows: 140px auto;
}
.store-api__title {
    grid-column: 1/3;
    grid-row: 1/2;
    display: flex;
    justify-content: center;
    text-align: center;
}
.store-api__title h1 {
    margin-left: 20px;
}
.store-api__sidebar {
    grid-column: 1/2;
    grid-row: 2/3;
}
.store-api__sidebar ul {
    justify-content: center;
    list-style: none;
    position: fixed;
    width: 220px;
}
.store-api__sidebar li {
    width: 50%;
    padding: 5px;
    margin: 40px auto;
    text-align: center;
    font-size: 1.4rem;
    box-shadow: 0px 0px 8px var(--neon);
    cursor: pointer;
}
.store-api__container li:active {
    box-shadow: 0px 0px 12px var(--neon);
}
.store-api__content {
    grid-column: 2/3;
    min-height: 500px;
}
.content__text {
    width: 85%;
    box-shadow: -5px 5px 5px var(--neon);
    background: var(--accent);
    overflow-y: hidden;
    padding: 0 30px;
}

.content__text > * {
    margin: 30px 0;
    position: relative;
}
.content__text img {
    width: 90%;
    margin: 0 30px;
}
.content__text h2 {
    font-size: 1.8rem;
}
.content__text h3 {
    font-size: 1.6rem;
    margin: 40px 0;
    text-align: center
}
.content__text h4 {
    font-size: 1.4rem;
    margin: 40px 0;
}
.content__text h5 {
    font-size: 1.2rem;
    margin-left: 60px;
}
.content__text ul {
    margin-left: 100px;
}
.content__text p, .content__text table, .content__text code{
    margin-left: 60px;
}
.content__text table {
    border-collapse: collapse;
    margin: 0 auto;
    width: 60%;
}
.content__text td, .content__text th {
    background: var(--box);
    padding: 10px 20px;
    border-collapse: collapse;
}
.content__text th {
    background-color: var(--background);
    text-transform: capitalize;
}
span.post, span.delete, span.get, span.delete, span.patch {
    background-color: var(--box);
    padding: 4px 8px;
    border-radius: 20%;
}
span.patch {
    color: #d308d3;
}
span.post {
    color: #43a922;
}
span.get{
    color: var(--neon);
}
span.delete {
    color: #ff0f52;
}


@keyframes contract {
    0% { box-shadow: none; }
    2% { box-shadow: -5px 5px 5px var(--neon); }
    4% { box-shadow: none; }
    6% { box-shadow: -5px 5px 5px var(--neon); }
}

@media (max-width: 780px) {
    .store-api__container {
        grid-template-columns: 100%;
        grid-template-rows: 150px 150px auto;
    }
    .store-api__title, .store-api__sidebar, .store-api__content {
        grid-column: 1/1;
    }
    .store-api__title {
        grid-row: 1/2;
    }
    .store-api__sidebar {
        grid-row: 2/3;
    }

    .store-api__content {
        grid-row: 3/3;
        display: flex;
        justify-content: center;
    }

    .store-api__sidebar ul {
        position: initial;
        display: flex;
        flex-flow: row;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
    }
    .store-api__sidebar ul li{
        margin: 10px 10px;
        width: 120px;
    }
}