.store-api__container {
    display: grid;
    grid-template-columns: 220px auto;
    grid-template-rows: 70px auto;
}
.store-api__title {
    grid-column: 1/3;
    grid-row: 1/2;
}
.store-api__sidebar {
    grid-column: 1/2;
    grid-row: 2/3;
}
.store-api__content {
    grid-column: 2/3;
}